<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pokemon-background"> <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="pokemon-title">Pesquise seu Pokémon</ion-title> </ion-toolbar>
  </ion-header>

  <div class="search-card"> <ion-item class="search-input-item">
      <ion-input
        placeholder="Buscar por nome ou ID"
        [(ngModel)]="searchTerm"
        (keyup.enter)="searchPokemon()"
        class="search-input"
      ></ion-input>
      <ion-button (click)="searchPokemon()" class="search-button">
        <ion-icon name="search" slot="start"></ion-icon> Buscar
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="searchError" style="margin-left:16px;">
      {{ searchError }}
    </ion-text>
  </div>

  <ion-header class="pokemon-header"> <ion-toolbar class="pokemon-toolbar">
      <ion-title class="pokemon-title">Todos os Pokémons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content> <ion-spinner *ngIf="loading" name="crescent" style="display:block;margin:32px auto;"></ion-spinner>
    <ion-list *ngIf="!loading">
      <ion-item *ngFor="let p of pokemons">
        <ion-card style="width:100%;">
          <ion-card-header>
            <ion-card-title>
              #{{ p.id }} - {{ p.name | titlecase }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="4">
                  <img [src]="p.sprites.front_default" [alt]="p.name" style="width:120px;height:120px;" />
                </ion-col>
                <ion-col size="12" size-md="8">
                  <div><b>Base Experience:</b> {{ p.base_experience }}</div>
                  <div><b>Height:</b> {{ p.height }}</div>
                  <div><b>Weight:</b> {{ p.weight }}</div>
                  <div><b>Types:</b> {{ getPokemonTypesString(p) }}</div>
                  <div><b>Abilities:</b>
                    <ul>
                      <li *ngFor="let ab of p.abilities">
                        {{ ab.ability.name }} <span *ngIf="ab.is_hidden">(hidden)</span>
                      </li>
                    </ul>
                  </div>
                  <div><b>Stats:</b>
                    <ul>
                      <li *ngFor="let s of p.stats">
                        {{ s.stat.name }}: {{ s.base_stat }}
                      </li>
                    </ul>
                  </div>
                  <div><b>Moves:</b>
                    <ul>
                      <li *ngFor="let m of p.moves.slice(0, 5)">
                        {{ m.move.name }}
                      </li>
                    </ul>
                    <span *ngIf="p.moves.length > 5">e mais {{ p.moves.length - 5 }}...</span>
                  </div>
                  <div><b>Held Items:</b>
                    <ul>
                      <li *ngFor="let hi of p.held_items">
                        {{ hi.item.name }}
                      </li>
                    </ul>
                  </div>
                  <div><b>Cries:</b>
                    <audio *ngIf="p.cries?.latest" [src]="p.cries.latest" controls></audio>
                  </div>
                  <div><b>Sprites:</b>
                    <img *ngIf="p.sprites.front_shiny" [src]="p.sprites.front_shiny" style="width:60px;" />
                    <img *ngIf="p.sprites.back_default" [src]="p.sprites.back_default" style="width:60px;" />
                    <img *ngIf="p.sprites.back_shiny" [src]="p.sprites.back_shiny" style="width:60px;" />
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>